# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
package-lock.json
.idea/workspace.xml

.idea/flying-backend-functions.iml

.idea/jsLibraryMappings.xml

.idea/libraries/flying_backend_functions_node_modules.xml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/watcherTasks.xml
